---
---

/* variables go above import statements, straight css goes below */

// variables example:
// https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss

/* colors */
$background-color: #FAF4F4 !default;
$primary-color: #FAF4F4 !default;
$link-color: #008FF5 !default;
$link-color-visited: $link-color !default;
$masthead-link-color: $background-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;
$masthead-color: #344055 !default;

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.25em !default; // ~20px
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px


@import "minimal-mistakes/skins/mint";
@import "{{ site.theme }}";


#main {
    padding-top: 1em;
    padding-left: 0em !important;
    padding-right: 0em !important;
}

html {
    background-color: $background-color;
    font-size: 18px !important;

    @include breakpoint($medium) {
        font-size: 18px !important;
    }

    @include breakpoint($large) {
        font-size: 18px !important;
    }
    
    @include breakpoint($x-large) {
        font-size: 20px !important;
    }
}

@media (min-width: 64em) { .page { float: right; width: calc(100% - 200px); padding-right: 200px; padding-left: 50px;} }
@media (min-width: 80em) { .page { width: calc(100% - 200px); padding-right: 200px; padding-left: 50px;} }
@media (min-width: 64em) { .sidebar { float: left; width: calc(200px); opacity: 0.75; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; } }
@media (min-width: 80em) { .sidebar { width: calc(200px); } }
.sidebar p, .sidebar li {font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;font-size: 0.75em;line-height: 1.25;margin-bottom: 7px;}
.nav__sub-title {display: block;margin: 1rem 0 0.5rem 0;padding: 0.25rem 0;font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;font-size: 0.75em;font-weight: bold;text-transform: uppercase;border-bottom: 1px solid #cfd4d3;}


nav a {
    text-decoration: none;
    font-weight: normal;
}

.sidebar {
    opacity: 1.0 !important;
    padding-right: 2em !important;
}

a {
    font-weight: bold;
}

.masthead {
    background-color: $masthead-color;
}

.greedy-nav {
    background-color: $masthead-color;
}

.page__footer {
    background-color: $masthead-color;
}

.greedy-nav a:hover {
    color: $primary-color;
}

.greedy-nav a:before {
    background: $link-color !important;
}

.greedy-nav a.site-title {
    color: $primary-color;
}

.greedy-nav .hidden-links {
    background: $masthead-color !important;
}

.site-subtitle {
    font-style: italic;
}

.page__footer .fa-envelope {
    color: white !important;
}

.page__footer-copyright {
    color: $primary-color !important;
}

.initial-content, .search-content {
    padding-top: 20px;
}

.organizer-wrapper {
    width: 100%;
    margin-bottom: 2em;
}

.organizer-img {
    float: left;
    width: 20%;
    padding-right: 15px;
    padding-top: 5px;
}

.organizer-bio {
    vertical-align:top;
}

.organizer-bio a {
    font-weight: bold;
}

.img-circle {
    border-radius: 50%;
}

.CATEGORY {
    font-size: 18px;
    font-weight: bold;
}

#bibtex_display {
    line-height: 1.1em;
    font-size: 16px;
}


.panel-group {
    margin-bottom: 20px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #FBF6F6;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 5%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 5%);
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #FBF2F2;
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.show {
    display: block !important;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: #40514E;
    text-decoration: none !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
    background: #FBF6F6;
}

.panel-body {
    padding: 15px;
}
